<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hospital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/boards">게시판</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        지역
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/hospitals">전체</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="/hospitals?city=서울특별시">서울특별시</a></li>
                        <li><a class="dropdown-item" href="/hospitals?city=경기도">경기도</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <a type="button" class="btn btn-primary" id="signin-btn" href="/users/login">로그인</a>
                <a hidden type="button" class="btn btn-primary" id="signout-btn" href="/users/logout">로그아웃</a>
            </div>
        </div>
    </div>
</nav>
<script>
    let token = getCookie('token');
    const signinBtn = document.getElementById("signin-btn");
    const signoutBtn = document.getElementById("signout-btn");
    if (token !== "") {
        signinBtn.hidden = true;
        signoutBtn.hidden = false;
    }

    function getCookie(key) {
        key = key + '=';
        const cookieData = document.cookie;
        let start = cookieData.indexOf(key);
        let cValue = '';
        if (start !== -1) {
            start += key.length;
            let end = cookieData.indexOf(';', start);
            if (end === -1) end = cookieData.length;
            cValue = cookieData.substring(start, end);
        }
        return cValue;
    }
</script>
