<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전국 병원 정보</title>
    {{>bootstrap/head}}
</head>
<body>
{{>layouts/nav}}
<div class="container mt-5 mb-5">
    <h1 id="hospital-detail-name"></h1>
    <hr>
    <div class="card">
        <div class="card-header">
            <h5 id="hospital-detail-info-header">정보</h5>
        </div>
        <div class="card-body" id="hospital-detail-info-body">
        </div>
    </div>
    <div class="container ms-2" id="reviews-wrap">
    </div>
</div>
{{>layouts/footer}}
<script>

    getHospital({{id}});

    async function getHospital(id) {
        const name = document.getElementById("hospital-detail-name");
        const infoBody = document.getElementById("hospital-detail-info-body");
        const reviewsWrap = document.getElementById("reviews-wrap");
        const response = await fetch(`/api/v1/hospitals/${id}`, {
            headers: {'Authorization': token || getCookie('token')}
        });
        let data;
        if (response.ok) {
            data = await response.json();
        } else {
            location.href = '/users/login';
        }
        console.log(data);
        name.innerText = data.hospitalName;
        infoBody.innerHTML = `
            <p>도로명 주소 : ${data.roadNameAddress}</p>
            <p>지번 주소 : ${data.fullAddress}</p>
            <p>폐업 / 영업 : ${(data.shutDown) ? "폐업" : "영업"}</p>
        `;
        const reviews = data.reviews;
        for (let i = 0; i < reviews.length; i++) {
            reviewsWrap.innerHTML = reviewsWrap.innerHTML + `<div class="card mt-3 ms-3" id="review-${reviews[i].id}">
                <div class="card-header">
                    <h5>${reviews[i].author}</h5>
                </div>
                <div class="card-body">
                    ${reviews[i].content}
                    <button class="btn btn-primary float-end ms-2">삭제</button>
                    <button class="btn btn-primary float-end ms-2">수정</button>
                </div>
            </div>`
        }
    }
</script>
{{>bootstrap/script}}
</body>
</html>