<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전국 병원 정보</title>
    {{>bootstrap/head}}
</head>
<body>
{{>layouts/nav}}
<div class="container mt-5 mb-5">
    <h1>전국 병원 정보 전체 리스트</h1>
    <hr>
    <form class="" action="/hospitals" method="get" role="search">
        <div class="row">
            <label class="form-label col-1 text-end">주소</label>
            {{#city}}
                <input class="form-control ms-2 me-2 col" type="search" name="city" value="{{city}}"
                       placeholder="Search" aria-label="Search">
            {{/city}}
            {{^city}}
                <input class="form-control ms-2 me-2 col" type="search" name="city" placeholder="Search"
                       aria-label="Search">
            {{/city}}
            <button class="btn btn-outline-success col-1" type="submit">Search</button>
        </div>
    </form>
    <hr>
    <table class="table table-hover" id="hospital-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">이름</th>
            <th scope="col">주소</th>
        </tr>
        </thead>
        <tbody id="hospital-table-body">
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" id="prev-page-btn"><a class="page-link" id="prev-link" href="#">Previous</a></li>
            <li class="page-item" id="next-page-btn"><a class="page-link" id="next-link" href="#">Next</a></li>
        </ul>
    </nav>
    <script>
        let city = "{{city}}";
        let page = {{page}};
        let size = {{size}};
        console.log({page, size});
        findAll();
        async function findAll() {
            const url = (city === "") ? `/api/v1/hospitals?page=${page}&size=${size}` : `/api/v1/hospitals?city=${city}&page=${page}&size=${size}`;
            const data = await fetch(url)
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                    });
            console.log(data);
            page = data.pageable.pageNumber;
            size = data.size;
            const maxPage = data.totalPages;
            for (let i = 0; i < data.content.length; i++) {
                const hospital = data.content[i];
                const id = hospital.id;
                const name = hospital.hospitalName;
                const address = (hospital.roadNameAddress !== "") ? hospital.roadNameAddress : hospital.fullAddress;
                const tbody = document.getElementById("hospital-table-body");
                tbody.innerHTML = tbody.innerHTML + `
                    <tr id="hospital-table-row-${id}" onclick="location.href='/hospitals/${id}'">
                        <td id="hospital-table-row-${id}-id">${id}</td>
                        <td id="hospital-table-row-${id}-name">${name}</td>
                        <td id="hospital-table-row-${id}-address">${address}</td>
                    </tr>
                `;
            }
            const prevBtn = document.getElementById("prev-page-btn");
            const nextBtn = document.getElementById("next-page-btn");
            if (page < 1) {
                prevBtn.className = "page-item disabled";
            } else {
                prevBtn.className = "page-item";
                document.getElementById("prev-link").setAttribute("href", (city === "") ? `/hospitals?page=${page - 1}&size=${size}` : `/hospitals?city=${city}&page=${page - 1}&size=${size}`)
            }
            if (page >= maxPage - 1) {
                nextBtn.className = "page-item disabled";
            } else {
                nextBtn.className = "page-item";
                document.getElementById("next-link").setAttribute("href", (city === "") ? `/hospitals?page=${page + 1}&size=${size}` : `/hospitals?city=${city}&page=${page + 1}&size=${size}`)
            }
        }
    </script>
</div>
{{>layouts/footer}}
{{>bootstrap/script}}
</body>
</html>