<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전국 병원 정보</title>
    {{>bootstrap/head}}
</head>
<body>
{{>layouts/nav}}
<div class="container mt-5 mb-5">
    <h1>게시글 작성</h1>
    <hr>
    <div class="mb-3">
        <label class="form-label">작성자</label>
        <!--- name 속성안에 Dto의 필드명을 써주면 된다 -->
        <input type="text" class="form-control" id="board-post-author" name="author">
    </div>
    <div class="mb-3">
        <label class="form-label">제목</label>
        <!--- name 속성안에 Dto의 필드명을 써주면 된다 -->
        <input type="text" class="form-control" id="board-post-title" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <!--- name 속성안에 Dto의 필드명을 써주면 된다 -->
        <textarea class="form-control" rows="3" id="board-post-content" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" onclick="post()">글쓰기</button>
    <!--- 리다이렉트 전체 조회페이지로 이동 기능 a태그로 --->
    <a href="/boards">back</a>
</div>
{{>layouts/footer}}
<script>
    async function post() {
        const title = document.getElementById("board-post-title").value;
        const author = document.getElementById("board-post-author").value;
        const content = document.getElementById("board-post-content").value;
        const data = {title, author, content};
        console.log(data);
        const response = await fetch(`/api/v1/boards`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': token || getCookie('token')
            },
            body: JSON.stringify({title, author, content})
        })
        if (response.ok) location.href = "/boards";
    }
</script>
{{>bootstrap/script}}
</body>
</html>