<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전국 병원 정보</title>
    {{>bootstrap/head}}
</head>
<body>
    {{>layouts/nav}}
    <div class="container mt-5 mb-5">
        <h1>전국 병원 정보 검색</h1>
        <p>반갑습니다.</p>
    </div>
    {{>layouts/footer}}
    {{>bootstrap/script}}
</body>
</html>